.layout {
    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-template-areas:
        'header header'
        'main main';

    & header {
        grid-area: header;
        background-color: #ffffff;
        height: 10vh;
        border-bottom: 1px solid #cfcfcf;
    }

    & main {
        grid-area: main;
        height: 85vh;
        padding: 0 35px 0 35px;
    }

    @media screen and (max-width: 576px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        & header {
            height: 15vh;
        }

        & main {
            height: 70vh;
        }
    }
}